<br> <br> <br> <br>


  <div class="flex-wrap">
    <div class="d-flex justify-content-center flex-wrap">

      <%= form_for @listing do |form| %>
      <%= render partial: '/listings/form', object: form %>
  <br>
        <%= form.submit%>
    </div>

    <br>
    
    <% end %>
  
</div>



