<div class="container">
  <div class="row">

<div class="col-md-3"></div>


<div id="clearance" class="sign-up col-md-6">
  <h2><%= t(".title") %></h2>
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit class: "btn btn-primary" %>
    </div>

  <% end %>
</div>


<div class="col-md-3"></div>

 </div>
</div>

