<div class="text-field">
  <!-- <%#= f.label :Check_in %> -->
  <%= f.text_field :check_in, placeholder: "dd/mm/yy" %>
</div>

<div class="text-field">
  <!-- <%#= f.label :Check_out %> -->
  <%= f.text_field :check_out, placeholder: "dd/mm/yy" %>
</div>

<!-- <div class="text-field">
  <%#= form.label :Number_of_guests %>
  <%#= form.text_field :number_of_guests %>
</div> -->